services:

  database:
    container_name: nuxt-rails-database
    image: postgres:18.1-alpine3.23
    env_file: 
      - database.env
    expose: 
      - 5432
    healthcheck:
      test: 
        - CMD-SHELL
        - pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 2s
      timeout: 3s
      retries: 3
      start_period: 5s

  backend:
    container_name: nuxt-rails-backend
    build:
      context: ./backend
      args: 
        - TEST_MODE=${TEST_MODE:-lax}
    env_file: 
      - backend.env
    environment:
      - FORCE_SSL=false
    ports: 
      - 3000:3000
    depends_on:
      database:
        condition: service_healthy

  frontend:
    container_name: nuxt-rails-frontend
    build:
      context: ./frontend
      args:
        - API_URL_BASE=${API_URL_BASE:-http://localhost:3000}
        - TEST_MODE=${TEST_MODE:-lax}
    ports: 
      - 8080:8080
    depends_on:
      backend:
        condition: service_started
