base: &base
  encoding: unicode
  url: <%= ENV["DATABASE_URL"] %>
  pool: <%= ENV["RAILS_MAX_THREADS"] %>
  idle_timeout: 300

test:
  <<: *base

production:
  primary:
    <<: *base
  cache:
    <<: *base
  queue:
    <<: *base
  cable:
    <<: *base
